.uploadNFT{
    width: 100%;
    margin-block: 8rem;
}

.uploadNFT_box{
    width: 60%;
    margin:  0 auto;
}

.uploadNFT_box_heading{
    border-bottom:  1px solid var(--shadow-dark-color);
}

.uploadNFT_box_heading h1{
    font-size: 3.5rem;
    line-height: .1;
}

.uploadNFT_box_heading p{
    font-size: 1.4rem;
    width: 70%;
    line-height: 1.2;
    margin-top: 20px;
}

.uploadNFT_box_title{
    border-bottom:  1px solid var(--shadow-dark-color);
    margin-top: 4rem;
}